.income_expense {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;


}

.div {
position: relative;
background-color: antiquewhite;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
padding: 15px 20px;
}

.div:first-child::after {
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: black;
    right: 0;
}

.title {
    font-size: 14px;
}