.editform {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid gray;
    margin: 5px 0;
}

input, select {
    flex: 1 1 30%;
}

textarea {
    flex: 1 1 100%;
}

.imginput {
    display: flex;
    flex: 1 1 50%;
    height: 100%;
    background-color: blue;
}