.receipt_list {
 
}

select {
    border-radius: 5px;
    padding: 3px 5px;
}

.receipt_list_inner {
    text-align: center;
    font-size: 14px;
}

.receipt_title {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid skyblue;
}

.history {
    padding: 20px 0;
}