.receipt_list {
    border: 2px solid skyblue;
}

.receipt_title {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.history {
    padding: 20px 0;
}