.card {
    border: 2px solid white;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 12px 50px;
    border-radius: 12px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.info {
    padding-left: 50px;
}

p {
    font-size: 20px;
    color: white;
    padding: 5px;
}